:host ::ng-deep .mat-mdc-dialog-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d7d7d7;
    padding-top: 15px;
    
    &::before{
        display: none;
    }

    .mat-icon{
        width: 16px;
        height: 16px;
        font-size: 20px;
        color: #a9a9a9;
    }
}

:host ::ng-deep .mat-mdc-dialog-actions{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border-top: 1px solid #d7d7d7;
    padding-top: 15px;
    padding-bottom: 15px;
}

:host ::ng-deep .mat-mdc-dialog-content{
    padding-top: 25px;
    padding-bottom: 15px;
}

:host ::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
:host ::ng-deep   .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #ffffff;
}

