<div mat-dialog-title class="flex justify-between items-center task-header pt-5 pb-5 md:pt-10 px-4 md:px-10">
    <p class="text-[#0c2a63] text-base font-semibold">{{heading}}</p>
    <a (click)="closePopup('close')" class="cursor-pointer">
        <mat-icon>close</mat-icon>
    </a>
</div>
<div mat-dialog-content class="">
    <form [formGroup]="couponFormGroup" class="w-full mt-4 grid grid-cols-3 gap-x-4">
        <div class="col-span-2">
            <mat-label>Coupon Code</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <input matInput formControlName="couponCode" type="text" textOnly appearance="outline">
                <mat-error *ngIf="couponFormGroup.controls['couponCode'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div class="">
            <mat-label>Coupon Type</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <mat-select formControlName="discountType" (selectionChange)="getCouponType($event)">
                    <mat-option [value]="1">Percentage</mat-option>
                    <mat-option [value]="2">Flat</mat-option>
                    <mat-option [value]="3">Delivery</mat-option>
                </mat-select>
                <mat-error *ngIf="couponFormGroup.controls['discountType'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div class="price-cont">
            <mat-label>Discount value</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <span matPrefix>{{couponType === 1 ? "%" : "₹"}}</span>
                <input matInput formControlName="discountValue" type="text" textOnly appearance="outline" [disabled]="couponType == 3">
                <mat-error *ngIf="couponFormGroup.controls['discountValue'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div class="price-cont">
            <mat-label>Max Disount Amount</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <span matPrefix>₹</span>
                <input matInput formControlName="maxDiscountValue" type="text" textOnly appearance="outline"  [disabled]="couponType == 2">
                <mat-error *ngIf="couponFormGroup.controls['maxDiscountValue'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div class="price-cont">
            <mat-label>Min Order Value</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <span matPrefix>₹</span>
                <input matInput formControlName="orderMinimumValue" type="text" textOnly appearance="outline">
                <mat-error *ngIf="couponFormGroup.controls['orderMinimumValue'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-label>Expiry</mat-label>
            <mat-form-field appearance="outline" class="w-full">
                <input matInput [matDatepicker]="picker" formControlName="expiryDate" [min]="todayDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="couponFormGroup.controls['expiryDate'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-label>Quantity</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <input matInput formControlName="limit" type="text" textOnly appearance="outline">
                <mat-error *ngIf="couponFormGroup.controls['limit'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-label>Category</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <mat-select formControlName="parentCategories" multiple>
                    <mat-option [value]="item.id" *ngFor="let item of categoryList">{{item.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="couponFormGroup.controls['parentCategories'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-span-3">
            <mat-label>Description</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <textarea matInput formControlName="couponDescription" type="text" textOnly maxlength="240"
                    appearance="outline"></textarea>
                <mat-error *ngIf="couponFormGroup.controls['couponDescription'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button class="rounded px-6 leading-none py-2 bg-[#e8e8e8] text-sm" (click)="closePopup('close')">Cancel</button>
    <button *ngIf="modalType === 'create'"
        class="rounded px-6 leading-none py-2 text-white bg-[#0c2a63] text-sm flex gap-4 items-center"
        (click)="createCoupon()">
        <ng-container *ngIf="!loader">
            Create
        </ng-container>
        <ng-container *ngIf="loader">
            <mat-spinner [diameter]="20"></mat-spinner>
            please wait...
        </ng-container>
    </button>
    <button *ngIf="modalType === 'edit'"
        class="rounded px-6 leading-none py-2 text-white bg-[#0c2a63] text-sm flex gap-4 items-center"
        (click)="updateCoupon()">
        <ng-container *ngIf="!loader">
            Update
        </ng-container>
        <ng-container *ngIf="loader">
            <mat-spinner [diameter]="20"></mat-spinner>
            please wait...
        </ng-container>
    </button>
</div>