<div class="relative h-[40v] min-h-[300px] bg-[url(./assets/images/banner/about-us-banner.jpg)] bg-cover bg-center flex justify-center items-center">
    <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-black/60"></div>
    <span class="relative z-10 font-bold text-[40px] text-white">About Us</span>
</div>

<div class="px-4 lg:px-8 xl:px-12 my-10">
    <div class="font-bold text-[20px] text-[#333] w-full mb-2">Who We Are</div>
    <div class="text-[#666] w-full max-w-[900px]">
        We are passionate about delivering quality products and exceptional service. Our mission is to provide innovative solutions that meet your needs. With a focus on customer satisfaction, integrity, and excellence, we strive to create a seamless shopping experience and build lasting relationships with our customers.
    </div>
</div>