<div class="relative h-[40v] min-h-[300px] bg-[url(./assets/images/banner/about-us-banner.jpg)] bg-cover bg-center flex justify-center items-center">
    <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-black/60"></div>
    <span class="relative z-10 font-bold text-[40px] text-white">About Us</span>
</div>

<div class="px-4 lg:px-8 xl:px-12 my-10 lg:my-16">
    <div class="font-bold text-[20px] text-[#333] w-full mb-2">Who We Are</div>
    <div class="text-[#666] w-full max-w-[900px]">
        We are passionate about delivering quality products and exceptional service. Our mission is to provide innovative solutions that meet your needs. With a focus on customer satisfaction, integrity, and excellence, we strive to create a seamless shopping experience and build lasting relationships with our customers.
    </div>
</div>


<div class="bg-gradient-to-r from-[rgba(38,53,93,1)] to-[rgba(0,168,255,1)] py-8 lg:py-16 px-4 lg:px-8 xl:px-12 grid grid-cols-4 gap-6">
    <div class="border bordre-[#d7d7d7] p-5 rounded-md flex flex-col gap-3 hover:bg-[rgba(38,53,93,1)] transition">
        <h2 class="text-white font-semibold text-base">Innovation</h2>
        <p class="text-white text-sm">Continuously improving designs, materials, and processes to stay ahead of trends.</p>
    </div>
    <div class="border bordre-[#d7d7d7] p-5 rounded-md flex flex-col gap-3 hover:bg-[rgba(38,53,93,1)] transition">
        <h2 class="text-white font-semibold text-base">Quality</h2>
        <p class="text-white text-sm">Delivering durable, well-crafted, and high-quality products to ensure customer satisfaction.</p>
    </div>
    <div class="border bordre-[#d7d7d7] p-5 rounded-md flex flex-col gap-3 hover:bg-[rgba(38,53,93,1)] transition">
        <h2 class="text-white font-semibold text-base">Customer-Centricity</h2>
        <p class="text-white text-sm">Prioritizing customer needs, feedback, and providing exceptional service.

        </p>
    </div>
    <div class="border bordre-[#d7d7d7] p-5 rounded-md flex flex-col gap-3 hover:bg-[rgba(38,53,93,1)] transition">
        <h2 class="text-white font-semibold text-base">Inclusivity</h2>
        <p class="text-white text-sm">Creating designs for all body types, genders, and styles to promote diversity.

        </p>
    </div>
    <div class="border bordre-[#d7d7d7] p-5 rounded-md flex flex-col gap-3 hover:bg-[rgba(38,53,93,1)] transition">
        <h2 class="text-white font-semibold text-base">Fashion Freedom</h2>
        <p class="text-white text-sm">Encouraging individuality and self-expression through clothing.

        </p>
    </div>
    <div class="border bordre-[#d7d7d7] p-5 rounded-md flex flex-col gap-3 hover:bg-[rgba(38,53,93,1)] transition">
        <h2 class="text-white font-semibold text-base">Affordability</h2>
        <p class="text-white text-sm">Providing stylish, quality products at fair and accessible prices.

        </p>
    </div>
    <div class="border bordre-[#d7d7d7] p-5 rounded-md flex flex-col gap-3 hover:bg-[rgba(38,53,93,1)] transition">
        <h2 class="text-white font-semibold text-base">Reliability</h2>
        <p class="text-white text-sm">Ensuring timely deliveries, consistent quality, and dependable service.

        </p>
    </div>
    <div class="border bordre-[#d7d7d7] p-5 rounded-md flex flex-col gap-3 hover:bg-[rgba(38,53,93,1)] transition">
        <h2 class="text-white font-semibold text-base">Comfort</h2>
        <p class="text-white text-sm">Combining style and functionality to ensure everyday wearability.
        </p>
    </div>    
</div>


<div class="px-4 lg:px-8 xl:px-12 my-10 lg:my-16 grid grid-cols-2">
    <div class="flex justify-center flex-col">
        <div class="font-bold text-[20px] text-[#333] w-full mb-2">Who We Are</div>
        <div class="text-[#666] w-full max-w-[900px]">
            At our company, we believe in fostering a positive, inclusive, and collaborative work culture. We encourage creativity, professional growth, and open communication at all levels. Our team thrives in an environment where ideas are valued, diversity is celebrated, and work-life balance is prioritized. We are committed to ethical practices, innovation, and sustainability, ensuring our employees feel motivated, respected, and inspired every day.
        </div>
    </div>
    <div class="flex items-center justify-center">
        <img class="w-[80%] rounded-lg" src="./assets/images/team.jpg" alt="">
    </div>
</div>