<div
    class="relative h-[80vh] min-h-[300px] bg-[url(./assets/images/new-arrival-2.jpg)] bg-cover bg-center flex justify-center items-center">
    <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-black/60"></div>
    <span class="relative z-10 font-bold text-[40px] text-white">Discover Our Latest Arrivals</span>
</div>

<div class="px-4 lg:px-8 xl:px-12">
    <div class="flex items-center justify-between my-12 ">
        <div class="text-center font-semibold text-[20px] text-[#333] ">#Featured Products</div>
        <div class="flex gap-2 items-center">
            <mat-label>Filter by</mat-label>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option value="option1">Price: Low to High</mat-option>
                    <mat-option value="option2">Price: High to Low</mat-option>
                </mat-select>

            </mat-form-field>
        </div>
    </div>
    <div class="grid gap-4 grid-cols-6">
        <div *ngFor="let item of products" class="border rounded border-[#d7d7d7] p-2">
            <img src="{{item.img}}" alt="">
            <div class="flex flex-col pt-2">
                <p class="text-base text-[#002244] font-semibold mb-1">{{item.name}}</p>
                <p class="text-sm text-[#666]">{{item.price | currency:'INR':true}}
                    <span *ngIf="item.offerPrice" class="mx-2 line-through text-[#bbb] text-xs">{{item.offerPrice |
                        currency:'INR':true}}</span>
                </p>
                <div class="flex w-full items-center h-[40px] mt-2 rounded overflow-hidden">
                    <a
                        class="h-full cursor-pointer text-white bg-[#26355D] leading-none flex-1 text-sm px-3 items-center flex border-r border-[#fff]">Add
                        to Cart</a>
                    <a class="cursor-pointer text-white bg-[#26355D] h-full flex items-center justify-center w-[40px]">
                        <img class="w-6 h-6 invert" src="./assets/images/heart.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>