.heading-lines span{
    position: relative;

    &::before{
        content: "";
        width: 100px;
        display: flex;
        height: 2px;
        border-radius: 4px;
        position: absolute;
        left: -120px;
        top: 50%;
        transform: translateY(-50%);
        background: #333;
        
        @media screen and (max-width: 767px) {
            left: -90px;
            width: 80px;
        }
        @media screen and (max-width: 535px) {
            left: -70px;
            width: 60px;
        }
    }

    
    &::after{
        content: "";
        width: 100px;
        display: flex;
        height: 2px;
        border-radius: 4px;
        position: absolute;
        right: -120px;
        top: 50%;
        transform: translateY(-50%);
        background: #333;

        @media screen and (max-width: 767px) {
            right: -90px;
            width: 80px;
        }
        @media screen and (max-width: 535px) {
            right: -70px;
            width: 60px;
        }
    }
}