<div class="flex items-center justify-between mb-5">
    <div class="flex items-center gap-4">
        <img (click)="back()" class="w-5 rotate-180 invert cursor-pointer" src="./assets/images/right-arrow.svg" alt="">
        <p class="text-[18px] font-semibold text-[#26355d]">Chlid Categories</p>
    </div>

    <a class="cursor-pointer bg-[#26355d] text-white flex items-center gap-2 px-4 rounded-md py-2">
        <img class="invert w-4" src="./assets/images/plus.svg" alt="">
        Add Child category
    </a>
</div>



<div class="grid grid-cols-3 gap-4 mt-4">
    <div class="bg-white rounded-md p-4 shadow-md" *ngFor="let Category of list">
        <div class="flex gap-4 items-center">
            <div class="w-[80px]">
                <img class="rounded-md" src="/assets/images/dummy/child-1.jpg" alt="">
            </div>
            <div>
                <p class="text-base font-semibold">{{Category.categoryHeading}}</p>
                <div class="flex items-center gap-4 mt-1">
                    <a class="cursor-pointer text-[#26355d] text-sm">Edit</a>
                    <a class="cursor-pointer text-[#D2122E] text-sm">Delete</a>
                </div>
            </div>
        </div>
    </div>

</div>