<div class="px-4 lg:px-8 xl:px-12 pt-10">
    <div class="grid grid-cols-5">
        <div class="col-span-2 p-5 product-images">
            <div class="bg-[rgba(38,53,93,.2)] flex items-center justify-center aspect-square">
                <img class="max-w-full w-[300px]" src="./assets/images/dummy/dress.png" alt="">
            </div>
            <div class="flex items-center gap-2 mt-4 overflow-x-auto pb-1">
                <div class="h-[100px] border border-[#d7d7d7] aspect-square p-2 rounded">
                    <img class="object-center object-contain w-full h-full" src="./assets/images/dummy/dress.png"
                        alt="">
                </div>
                <div class="h-[100px] border border-[#d7d7d7] aspect-square p-2 rounded">
                    <img class="object-center object-contain w-full h-full" src="./assets/images/dummy/dress.png"
                        alt="">
                </div>
                <div class="h-[100px] border border-[#d7d7d7] aspect-square p-2 rounded">
                    <img class="object-center object-contain w-full h-full" src="./assets/images/dummy/dress.png"
                        alt="">
                </div>
                <div class="h-[100px] border border-[#d7d7d7] aspect-square p-2 rounded">
                    <img class="object-center object-contain w-full h-full" src="./assets/images/dummy/dress.png"
                        alt="">
                </div>
                <div class="h-[100px] border border-[#d7d7d7] aspect-square p-2 rounded">
                    <img class="object-center object-contain w-full h-full" src="./assets/images/dummy/dress.png"
                        alt="">
                </div>
                <div class="h-[100px] border border-[#d7d7d7] aspect-square p-2 rounded">
                    <img class="object-center object-contain w-full h-full" src="./assets/images/dummy/dress.png"
                        alt="">
                </div>
                <div class="h-[100px] border border-[#d7d7d7] aspect-square p-2 rounded">
                    <img class="object-center object-contain w-full h-full" src="./assets/images/dummy/dress.png"
                        alt="">
                </div>
            </div>
        </div>
        <div class="col-span-3 p-4 relative flex flex-col justify-between overflow-y-auto gap-10 py-[50px]">
            <div>
                <p class="text-sm">Baby Clothes</p>
                <p class="text-3xl font-bold text-[#26355D] my-1">Sleeveless Onesie</p>
                <p class="text-sm">A sleeveless onesie is a one-piece baby garment with no sleeves, snap closures for
                    easy
                    diaper changes, and soft, breathable fabric. Ideal for warm weather or layering. Comfortable and
                    versatile! 👶</p>
                <p class="text-lg font-semibold text-[#666] mt-4">{{849.15 | currency:'INR':true}}
                    <span class="mx-2 text-[#bbb] text-sm font-normal">(15% OFF)</span>
                </p>
                <p class="text-sm text-[#bbb] line-through">{{999 | currency:'INR':true}}</p>
                <div class="flex items-center gap-2 flex-wrap my-5">
                    <div class="w-full text-base font-semibold">Colors</div>
                    <div class="flex items-center gap-4">
                        <a class="w-7 h-7 rounded-full bg-red-900 cursor-pointer"></a>
                        <a class="w-7 h-7 rounded-full bg-green-900 cursor-pointer"></a>
                        <a class="w-7 h-7 rounded-full bg-lime-900 cursor-pointer"></a>
                        <a class="w-7 h-7 rounded-full bg-orange-900 cursor-pointer"></a>
                        <a class="w-7 h-7 rounded-full bg-purple-900 cursor-pointer"></a>
                    </div>
                </div>
                <div class="flex items-center gap-2 flex-wrap my-5">
                    <div class="w-full text-base font-semibold">Sizes</div>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">6 - 12 Months</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">12 - 18 Months</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">18 - 24 Months</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">2 - 3 Years</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">3 - 4 Years</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">5 - 6 Years</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">5 - 6 Years</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">View size chart</a>
                </div>

                <div class="flex items-center gap-4">
                    <a
                        class="border border-[#26355d] text-[#fff] text-sm px-5 py-2 text-center cursor-pointer bg-[#26355d]">Add
                        To Bag</a>
                    <a
                        class="border border-[#26355d] text-[#26355d] text-sm px-5 py-2 text-center cursor-pointer hover:bg-[#26355d] hover:text-white transition ">Add
                        To Wishlist</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="px-4 lg:px-8 xl:px-12 my-10">
    <div class="border-b border-[#d7d7d7] flex items-center gap-2">
        <a *ngFor="let item of prodcutDesList" (click)="activeProductDescTab = item"
            [ngClass]="{'bg-[#F0F8FF] font-semibold': activeProductDescTab === item}"
            class="cursor-pointer text-base py-2 px-4 rounded-t-md">{{item}}</a>
    </div>
    <div class="pt-6 bg-[#F0F8FF] pb-6 px-4">
        <div class="" *ngIf="activeProductDescTab === 'Description'">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum ab vitae architecto quis minus delectus fuga
            rerum aspernatur sapiente nesciunt esse, facilis illo consequatur libero ipsa eligendi, labore error
            consequuntur ipsam numquam totam? Assumenda expedita, ad quod blanditiis similique tempore?
        </div>
        <div class="" *ngIf="activeProductDescTab === 'Reviews'">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam a nisi ut nam quisquam perspiciatis unde
            possimus quae at sequi?
        </div>
        <div class="" *ngIf="activeProductDescTab === 'Care'">
            Spot clean as needed
            Hand wash with mild soap
            Machine wash interior dividers
            Treat handle and tabs with leather conditioner
        </div>
        <div class="" *ngIf="activeProductDescTab === 'Return'">
            <p>10% restocking fee</p>
            Easy return requests
Pre-paid shipping label included
10% restocking fee for returns
60 day return window

            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod soluta labore quibusdam quis repellat
            necessitatibus qui eius iure nihil, officiis facilis itaque aut dolorem, nam magnam. Iste molestias dolore
            consequuntur molestiae amet aut qui obcaecati?
        </div>
        <div class="" *ngIf="activeProductDescTab === 'Shipping'">
            Easy return requests
            Pre-paid shipping label included
            10% restocking fee for returns
            60 day return window
        </div>
    </div>

</div>


<div class="px-4 lg:px-8 xl:px-12">
    <div class="text-center font-semibold text-[20px] text-[#333] my-12">Related Products</div>
    <div class="grid gap-4 grid-cols-6">
        <div *ngFor="let item of products" class="border rounded border-[#d7d7d7] p-2">
            <img src="{{item.img}}" alt="">
            <div class="flex flex-col pt-2">
                <p class="text-base text-[#002244] font-semibold mb-1">{{item.name}}</p>
                <p class="text-sm text-[#666]">{{item.price | currency:'INR':true}}
                    <span *ngIf="item.offerPrice" class="mx-2 line-through text-[#bbb] text-xs">{{item.offerPrice |
                        currency:'INR':true}}</span>
                </p>
                <div class="flex w-full items-center h-[40px] mt-2 rounded overflow-hidden">
                    <a
                        class="h-full cursor-pointer text-white bg-[#26355D] leading-none flex-1 text-sm px-3 items-center flex border-r border-[#fff]">Add
                        to Cart</a>
                    <a class="cursor-pointer text-white bg-[#26355D] h-full flex items-center justify-center w-[40px]">
                        <img class="w-6 h-6 invert" src="./assets/images/heart.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>