<div class="px-4 lg:px-8 xl:px-12 pt-10">
    <div class="grid grid-cols-5">
        <div class=" bg-[rgba(38,53,93,.2)] col-span-2 flex items-center justify-center p-5">
            <img class="max-w-full w-[300px]" src="./assets/images/dummy/dress.png" alt="">
        </div>
        <div class="col-span-3 p-4 relative flex flex-col justify-between overflow-y-auto gap-10 py-[50px]">
          
            <div>
                <p class="text-sm">Baby Clothes</p>
                <p class="text-3xl font-bold text-[#26355D] my-1">Sleeveless Onesie</p>
                <p class="text-sm">A sleeveless onesie is a one-piece baby garment with no sleeves, snap closures for easy
                    diaper changes, and soft, breathable fabric. Ideal for warm weather or layering. Comfortable and
                    versatile! 👶</p>
                <p class="text-lg font-semibold text-[#666] mt-4">{{849.15 | currency:'INR':true}}
                    <span class="mx-2 text-[#bbb] text-sm font-normal">(15% OFF)</span>
                </p>
                <p class="text-sm text-[#bbb] line-through">{{999 | currency:'INR':true}}</p>
                <div class="flex items-center gap-2 flex-wrap my-5">
                    <div class="w-full text-base font-semibold">Sizes</div>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">6 - 12 Months</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">12 - 18 Months</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">18 - 24 Months</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">2 - 3 Years</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">3 - 4 Years</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">5 - 6 Years</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">5 - 6 Years</a>
                    <a class="text-xs border px-2 py-1 hover:bg-[#eee] transition cursor-pointer">View size chart</a>
                </div>
                
                <div class="flex items-center gap-4">
                    <a class="border border-[#26355d] text-[#26355d] text-sm w-[calc(50%-4px)] py-2 text-center cursor-pointer hover:bg-[#26355d] hover:text-white transition">Add To Bag</a>
                    <a class="border border-[#26355d] text-[#26355d] text-sm w-[calc(50%-4px)] py-2 text-center cursor-pointer hover:bg-[#26355d] hover:text-white transition ">Add To Wishlist</a>
                </div>

                <div class="flex items-center gap-2 flex-wrap mt-5">
                    <div class="w-full text-base font-semibold">Product details</div>
                    <table class="text-sm">
                        <tr>
                            <td>Size</td>
                            <td class="w-10"></td>
                            <td>6 - 12 Months</td>
                        </tr>
                        <tr>
                            <td>Label size</td>
                            <td class="w-10"></td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Ideal for</td>
                            <td class="w-10"></td>
                            <td>Boys</td>
                        </tr>
                        <tr>
                            <td>Fabric</td>
                            <td class="w-10"></td>
                            <td>Cotton</td>
                        </tr>
                        <tr>
                            <td>Pattern</td>
                            <td class="w-10"></td>
                            <td>Printed</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="px-4 lg:px-8 xl:px-12">
    <div class="text-center font-semibold text-[20px] text-[#333] my-12">Related Products</div>
    <div class="grid gap-4 grid-cols-6">
        <div *ngFor="let item of products" class="border rounded border-[#d7d7d7] p-2">
            <img src="{{item.img}}" alt="">
            <div class="flex flex-col pt-2">
                <p class="text-base text-[#002244] font-semibold mb-1">{{item.name}}</p>
                <p class="text-sm text-[#666]">{{item.price |  currency:'INR':true}}
                    <span *ngIf="item.offerPrice" class="mx-2 line-through text-[#bbb] text-xs">{{item.offerPrice |  currency:'INR':true}}</span>
                </p>
                <div class="flex w-full items-center h-[40px] mt-2 rounded overflow-hidden">
                    <a class="h-full cursor-pointer text-white bg-[#26355D] leading-none flex-1 text-sm px-3 items-center flex border-r border-[#fff]">Add to Cart</a>
                    <a class="cursor-pointer text-white bg-[#26355D] h-full flex items-center justify-center w-[40px]">
                        <img class="w-6 h-6 invert" src="./assets/images/heart.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>