<div class="p-4 min-h-[100vh] grid grid-cols-2 relative bg-[]">
    <div routerLink="" class="absolute top-4 left-4 col-span-2 cursor-pointer text-[#26355D] text-[22px]">
        Stylar<span class="font-semibold text-[#26355D]">Kloth</span>
    </div>
    <div class="flex items-center justify-center">
        <img class="w-[400px] max-w-full" src="./assets/images/signup.svg" alt="">
    </div>
    <div class="flex items-center justify-center">
        <form (ngSubmit)="signup()" [formGroup]="signupFormGroup" 
        class="max-w-full mt-4 w-[450px] bg-[#F0F8FF] p-10 rounded-md relative">
            <div class="flex flex-col">
                <mat-label class="mb-1">Full name</mat-label>
                <mat-form-field class="w-full mb-1" appearance="outline">
                    <img src="./assets/images/mail.svg" matTextPrefix class="w-5" alt="">
                    <input matInput formControlName="email" type="text" textOnly>
                    <mat-error *ngIf="signupFormGroup.controls['email'].hasError('required')">
                        This is required field
                    </mat-error>
                    <mat-error *ngIf="signupFormGroup.controls['email'].hasError('email')">
                        Enter valid email
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="flex flex-col">
                <mat-label class="mb-1">Email/Phone</mat-label>
                <mat-form-field class="w-full mb-1" appearance="outline">
                    <img src="./assets/images/mail.svg" matTextPrefix class="w-5" alt="">
                    <input matInput formControlName="email" type="text" textOnly>
                    <mat-error *ngIf="signupFormGroup.controls['email'].hasError('required')">
                        This is required field
                    </mat-error>
                    <mat-error *ngIf="signupFormGroup.controls['email'].hasError('email')">
                        Enter valid email
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="flex flex-col">
                <mat-label class="mb-1">Refferal code</mat-label>
                <mat-form-field class="w-full mb-1" appearance="outline">
                    <img src="./assets/images/mail.svg" matTextPrefix class="w-5" alt="">
                    <input matInput formControlName="refferal" type="text" textOnly>
                </mat-form-field>
            </div>
    
            <div class="flex flex-col">
                <mat-label>OTP</mat-label>
                <mat-form-field class="w-full mb-1" appearance="outline">
                    <img src="./assets/images/password-lock.svg" matTextPrefix class="w-5" alt="">
                    <input matInput formControlName="password" type="text" textOnly>
                    <mat-error *ngIf="signupFormGroup.controls['email'].hasError('required')">
                        This is required field
                    </mat-error>
                </mat-form-field>
            </div>
            <button type="submit" class="text-white py-[11px] font-semibold w-full bg-[#26355D] rounded">Login</button>
        </form>
    </div>
    <div class="col-span-2 absolute left-0 right-0 bottom-0">
        <p class="text-center text-[#aaa] text-sm py-4">&copy; 2024 stylarKloth™. All Rights
            Reserved.</p>
    </div>
</div>