<div class="py-20 px-4 lg:px-8 xl:px-12 m-auto w-full  max-w-[1000px]">
    <div class="text-[22px] text-[#333] text-center font-semibold mb-10">Privacy Policies</div>

    <div class="terms">
        <ul>
            <li>
                Stylarkloth ("we/us/our") values and respects the privacy of our customers and users of our website
                ("you"). This Privacy Policy outlines our practices regarding the collection, use, sharing, transfer,
                and disclosure of your information. By using our services, you consent to the practices described
                herein.
            </li>
        </ul>
    </div>


    <div class="terms">
        <h2>
            Collection of Personal Information
        </h2>
        <ul>
            <li>
                We collect only the information necessary to provide you with our services, process your orders, and
                enhance your experience. This may include:
            </li>
            <li>
                <ul class="list-disc pl-4">
                    <li>
                        Your name, mailing address, email address, and phone number.
                    </li>
                    <li>
                        Shipping and billing addresses.
                    </li>
                    <li>
                        Details related to your transactions and interactions with us.
                    </li>
                </ul>
            </li>
            <li>
                We do not collect or store sensitive payment details such as your credit card or online bank account
                information.
            </li>
            <li>
                You affirm that the personal information provided by you is accurate, updated, and shared with proper
                consent.
            </li>
        </ul>
    </div>




    <div class="terms">
        <h2>
            Use of Personal Information
        </h2>
        <ul>
            <li>
                Your information may be used for:
            </li>
            <li>
                <ul class="list-disc pl-4">
                    <li>
                        Processing your orders and updating you on their status.
                    </li>
                    <li>
                        Handling inquiries, requests, and complaints.
                    </li>
                    <li>
                        Sending you information about our products, services, promotions, and offers.
                    </li>
                    <li>
                        Improving our website and customer experience through trend analysis and feedback.
                    </li>
                    <li>
                        Compliance with legal obligations and law enforcement requests.
                    </li>
                </ul>
            </li>
        </ul>
    </div>


    <div class="terms">
        <h2>
            Disclosure of Personal Information
        </h2>
        <ul>
            <li>
                We do not sell or rent your personal information to third parties for their marketing purposes. Your
                information may be shared:
            </li>
            <li>
                <ul class="list-disc pl-4">
                    <li>
                        With our affiliates and group companies for business purposes.
                    </li>
                    <li>
                        With third-party service providers for business operations (e.g., delivery partners).
                    </li>
                    <li>
                        In compliance with legal processes, statutory obligations, or court orders.
                    </li>
                    <li>
                        During corporate restructuring, including mergers or asset transfers, where the recipient will
                        adhere to this Privacy Policy.
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="terms">
        <h2>
            Cookies and Tracking Technologies
        </h2>
        <ul>
            <li>
                We use cookies, pixel tags, and similar technologies to enhance your experience, including:
            </li>
            <li>
                <ul class="list-disc pl-4">
                    <li>
                        Recognizing repeat visitors.
                    </li>
                    <li>
                        Tracking website usage patterns to improve functionality.
                    </li>
                    <li>
                        Serving personalized advertisements through third-party providers.
                    </li>
                </ul>
            </li>
            <li>
                <span class="font-semibold">Opting Out of Cookies</span>: You can disable cookies via your browser
                settings. However, this may limit your access to certain features on our website.
            </li>
        </ul>
    </div>

    <div class="terms">
        <h2>
            Third-Party Advertising
        </h2>
        <ul>
            <li>
                Third-party service providers may collect anonymous information about your interactions with our website
                to serve relevant advertisements. No personally identifiable information is shared in this process.
            </li>
        </ul>
    </div>

    <div class="terms">
        <h2>
            Your Rights
        </h2>
        <ul>
            <li>
                You may:
            </li>
            <li>
                <ul class="list-disc pl-4">
                    <li>
                        Access, review, or update your personal information.
                    </li>
                    <li>

                        Withdraw your consent to provide sensitive personal information (SPDI). Withdrawal of consent
                        may affect the
                        services we can offer.
                    </li>
                </ul>
            </li>
            <li>
                To exercise these rights, email us at <span class="font-semibold">contact@stylarkloth.com</span>. Note
                that certain data may not be modified due to legal or regulatory constraints.
            </li>
        </ul>

    </div>


    <div class="terms">
        <h2>
            Security Practices
        </h2>
        <ul>
            <li>
                We employ reasonable security measures to safeguard your information. While we strive to protect your
                data, we are not liable for breaches caused by factors beyond our control, such as:
            </li>
            <li>
                <ul class="list-disc pl-4">
                    <li>
                        Natural disasters or acts of God.
                    </li>
                    <li>
                        Unauthorized access, hacking, or system failures.
                    </li>
                    <li>
                        Strikes, riots, or government actions.
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="terms">
        <h2>
            Grievance Redressal
        </h2>
        <ul>
            <li>
                For any concerns or grievances regarding your personal information, please contact our designated
                Grievance Officer:
            </li>
            <li>
                <span class="font-semibold">Name</span>: Amit kumar <br>
                <span class="font-semibold">Email</span>: contact@stylarkloth.com
            </li>
        </ul>
    </div>

    <div class="terms">
        <h2>
            Updates to the Privacy Policy
        </h2>
        <ul>
            <li>
                We may update this Privacy Policy periodically. Updates will be communicated via the email address you
                provide or posted on our website.
            </li>
            <li>
                Become a part of the Stylarkloth family. Sign up to stay informed about our latest offers, new launches,
                and more.
            </li>
        </ul>
    </div>






</div>