.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        cursor: pointer;
    }
    p,a{
        background:#f3f3f3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 35px;

        img{
            width: 20px;
            height: 20px;
        }
    }
    p{
        width: 60px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }
}