.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        cursor: pointer;
    }
    p,a{
        background:#f3f3f3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 35px;

        img{
            width: 16px;
            height: 16px;
        }
    }
    p{
        width: 60px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }
}

.cart-table td{
    padding: 10px;
}

.calc-table td{
    padding-bottom: 5px;
    padding-top: 5px;
}

.calc-table tr{
    &:nth-last-child(2){
        td{
            padding-bottom: 15px;
        }
    }
    &:last-child{
        td{
            padding-top: 15px;
        }
    }
}