<div class="relative h-[40v] min-h-[300px] bg-[url(./assets/images/banner/cart-banner.jpg)] bg-cover bg-center flex justify-center items-center">
    <div class="absolute inset-0 bg-gradient-to-t from-black/40 to-black/40"></div>
    <span class="relative z-10 font-bold text-[40px] text-white">Shopping Cart</span>
</div>

<div class="flex items-start gap-4 px-4 lg:px-8 xl:px-12 mt-10">
    <div class="rounded-lg flex-1 border border-[#d7d7d7]">
       <table class="w-full table-auto border-spacing-2">
            <tr>
                <th class="text-left">Product</th>
                <th class="text-center">Quantity</th>
                <th class="w-[100px] text-center">Total</th>
                <th class="w-[100px] text-center">Action</th>
            </tr>
            <tr *ngFor="let item of list" class="border-b border-[#d7d7d7]">
                <td class="text-left">{{item.name}}</td>
                <td class="text-center">{{item.quantity}}</td>
                <td class="text-sm text-center">
                    {{999 | currency:'INR':true}}
                </td>
                <td>
                    <div class="flex justify-center">
                        <img class="w-5" src="./assets/images/delete.svg" alt="">
                    </div>
                </td>
            </tr>
       </table>
    </div>
    <div class="border border-[#d7d7d7] rounded-lg w-[400px] max-w-full">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, enim.
    </div>
</div>
  