<div class="flex items-center justify-between mb-5">
    <div class="flex items-center gap-4">
        <img (click)="back()" class="w-5 rotate-180 invert cursor-pointer" src="./assets/images/right-arrow.svg" alt="">
        <p class="text-[18px] font-semibold text-[#303030]">Product details</p>
    </div>
    <a (click)="deleteProduct()"
        class="cursor-pointer text-sm bg-[#D2122E] text-white flex items-center gap-2 px-4 rounded-md py-[6px]">
        Delete
    </a>
</div>

<div class="w-full grid grid-cols-3 gap-4" *ngIf="loader === false">
    <div class="col-span-2 flex flex-col gap-4">
        <div class="rounded-md bg-white col-span-2 p-4">
            <p class="text-[#070707] text-base font-semibold mb-2">General Information</p>
            <div class="flex flex-col gap-1 mb-4">
                <p class="text-sm text-[#757575]">Product Name</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">{{productDetail.productName}}</p>
            </div>
            <div class="flex flex-col gap-1 mb-4">
                <p class="text-sm text-[#757575]">Product Brand</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">{{productDetail.productBrand}}
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <p class="text-sm text-[#757575]">Product Description</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md leading-relaxed">
                    {{productDetail.productDescription}}</p>
            </div>
        </div>

        <div class="rounded-md bg-white col-span-2 p-4">
            <div class="flex justify-between items-center mb-4">
                <p class="text-[#070707] text-base font-semibold">Product Inventory</p>
                <a (click)="updateVarients()"
                    class="cursor-pointer text-sm bg-[#26355d] text-white flex items-center gap-2 px-4 rounded-md py-[6px]">
                    Update
                </a>
            </div>
            <div *ngFor="let variant of productDetail.variants" class="grid-cols-5 grid gap-4">
                <div class="flex flex-col gap-1 mb-4">
                    <p class="text-sm text-[#757575]">Size</p>
                    <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">{{variant.size}}</p>
                </div>
                <div class="flex flex-col gap-1 mb-4 col-span-2">
                    <p class="text-sm text-[#757575]">Color</p>
                    <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">{{variant.color}}</p>
                </div>
                <div class="flex flex-col gap-1 mb-4">
                    <p class="text-sm text-[#757575]">Quantity</p>
                    <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">{{variant.quantity}}</p>
                </div>
                <div class="flex flex-col gap-1 mb-4">
                    <p class="text-sm text-[#757575]">Status</p>
                    <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">{{variant.variantStatus}}</p>
                </div>
            </div>
        </div>

        <div class="rounded-md bg-white col-span-2 p-4 grid grid-cols-2 gap-4">
            <p class="text-[#070707] text-base font-semibold col-span-2">Care Instructions</p>
            <div class="flex flex-col gap-1">
                <p class="text-sm text-[#757575]">Drying</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">
                    {{productDetail.careInstruction.drying}}</p>
            </div>
            <div class="flex flex-col gap-1">
                <p class="text-sm text-[#757575]">Ironing</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">
                    {{productDetail.careInstruction.ironing}}</p>
            </div>
            <div class="flex flex-col gap-1">
                <p class="text-sm text-[#757575]">Storage</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">
                    {{productDetail.careInstruction.storage}}</p>
            </div>
            <div class="flex flex-col gap-1">
                <p class="text-sm text-[#757575]">Washing</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">
                    {{productDetail.careInstruction.washing}}</p>
            </div>
        </div>
    </div>
    <div class=" flex flex-col gap-4">
        <div class="rounded-md bg-white p-4">
            <p class="text-[#070707] text-base font-semibold mb-2">Category</p>
            <div class="flex flex-col gap-1 mb-4">
                <p class="text-sm text-[#757575]">Product Category</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">{{productDetail.category}}</p>
            </div>

            <div class="flex flex-col gap-1">
                <p class="text-sm text-[#757575]">Product Tags</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">
                    <ng-container *ngFor="let item of productDetail.tags;  let i = index">
                        <ng-container *ngIf="i>0">,</ng-container>
                        {{item.tag}}
                    </ng-container>
                </p>
            </div>
        </div>
        <div class="rounded-md bg-white p-4">
            <p class="text-[#070707] text-base font-semibold mb-2">Product Pricing</p>
            <div class="flex flex-col gap-1 mb-4">
                <p class="text-sm text-[#757575]">Actual Price</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">
                    {{productDetail.productActualPrice |
                    currency:'INR':true}}</p>
            </div>

            <div class="flex flex-col gap-1 mb-4">
                <p class="text-sm text-[#757575]">Discounted Price</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">
                    {{productDetail.productDiscountedPrice | currency:'INR':true}}</p>
            </div>

            <div class="flex flex-col gap-1">
                <p class="text-sm text-[#757575]">MRP</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">{{productDetail.productPrice |
                    currency:'INR':true}}</p>
            </div>
        </div>
        <div class="rounded-md bg-white p-4">
            <p class="text-[#070707] text-base font-semibold mb-2">Meta Details</p>
            <div class="flex flex-col gap-1 mb-4">
                <p class="text-sm text-[#757575]">Title</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">
                    {{productDetail.metaData.title}}</p>
            </div>

            <div class="flex flex-col gap-1 mb-4">
                <p class="text-sm text-[#757575]">Description</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md leading-relaxed">
                    {{productDetail.metaData.description}}</p>
            </div>

            <div class="flex flex-col gap-1">
                <p class="text-sm text-[#757575]">Tags</p>
                <p class="p-2 text-sm bg-[#f8fafb] border border-[#d7d7d7] rounded-md">
                    <ng-container *ngFor="let item of productDetail.seoKeyWords;  let i = index">
                        <ng-container *ngIf="i>0">,</ng-container>
                        {{item.keyWord}}
                    </ng-container>
                </p>
            </div>
        </div>
    </div>



</div>
<div class="h-[300px] w-full flex justify-center items-center bg-white rounded-md" *ngIf="loader === true">
    <div class="flex items-center justify-center flex-col gap-2">
        <mat-spinner [diameter]="20"></mat-spinner>
        <p class="text-[#555] font-sm">Pleaes wait....</p>
    </div>
</div>