<div class="flex items-center gap-4">
    <img (click)="back()" class="w-5 rotate-180 invert cursor-pointer" src="./assets/images/right-arrow.svg" alt="">
    <p class="text-[18px] font-semibold text-[#303030]">Add Product</p>
</div>

<form (ngSubmit)="createProduct()" [formGroup]="productFormGroup" class="w-full grid grid-cols-3 gap-4 mt-4">
    <div class="bg-white rounded-md shadow-md col-span-2 grid grid-cols-2 p-4 gap-x-4">
        <p class="text-[18px] font-semibold text-[#303030] mb-4 col-span-2">Product details</p>
        <div class="flex flex-col gap-1">
            <mat-label>Product Name <span>*</span></mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <input matInput formControlName="productName" type="text" textOnly>
                <mat-error *ngIf="productFormGroup.controls['productName'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col gap-1">
            <mat-label>Product Brand<span>*</span></mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <input matInput formControlName="productBrand" type="text" textOnly>
                <mat-error *ngIf="productFormGroup.controls['productBrand'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col gap-1">
            <mat-label>Weight</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <input matInput formControlName="productWeight" type="text" textOnly>
            </mat-form-field>
        </div>
        <div class="flex flex-col gap-1">
            <mat-label>Material<span>*</span></mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <input matInput formControlName="productMaterial" type="text" textOnly>
                <mat-error *ngIf="productFormGroup.controls['productMaterial'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col gap-1">
            <mat-label>Product Cancellable</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <mat-select formControlName="productCancellable">
                    <mat-option [value]="true">True</mat-option>
                    <mat-option [value]="false">False</mat-option>
                </mat-select>
                <mat-error *ngIf="productFormGroup.controls['productMaterial'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col gap-1">
            <mat-label>Product Returnable</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <mat-select formControlName="productReturnable">
                    <mat-option [value]="true">True</mat-option>
                    <mat-option [value]="false">False</mat-option>
                </mat-select>
                <mat-error *ngIf="productFormGroup.controls['productMaterial'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col gap-1">
            <mat-label>Category<span>*</span></mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <mat-select formControlName="productParentCategoryId" (selectionChange)="onSelectionChange($event)">
                    <mat-option [value]="item.id" *ngFor="let item of categoryList">{{item.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="productFormGroup.controls['productParentCategoryId'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col gap-1" *ngIf="isParentCategorySelected">
            <mat-label>Child Category<span>*</span></mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <mat-select formControlName="categories" multiple>
                    <mat-option [value]="item.id" *ngFor="let item of categoryList">{{item.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="productFormGroup.controls['categories'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col gap-1 col-span-2">
            <mat-label>Tags</mat-label>
            <mat-form-field appearance="outline">
                <mat-chip-grid #chipGrid>
                    <mat-chip-row *ngFor="let item of tagList(); let i = index" (removed)="remove(item)"
                        [editable]="true" [aria-description]="'Press enter to edit ' + item.tag">
                        {{ item.tag }}
                        <button matChipRemove [attr.aria-label]="'Remove ' + item.tag">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>

                    <input [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
                </mat-chip-grid>
            </mat-form-field>
        </div>

        <div class="flex flex-col gap-1 col-span-2">
            <mat-label>Description<span>*</span></mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <textarea matInput formControlName="productDescription" type="text" textOnly></textarea>
                <mat-error *ngIf="productFormGroup.controls['productDescription'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div class="text-[18px] font-semibold text-[#303030] my-4 col-span-2">
            Discounts & Offer
        </div>
        <div class="grid grid-cols-3 col-span-2 gap-x-4 price-cont">
            <div class="flex flex-col gap-1">
                <mat-label>Price<span>*</span></mat-label>
                <mat-form-field class="w-full mb-1" appearance="outline">
                    <span matPrefix>₹</span>
                    <input matInput formControlName="productPrice" type="text" textOnly>
                    <mat-error *ngIf="productFormGroup.controls['productPrice'].hasError('required')">
                        This is required field
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-col gap-1">
                <mat-label>Discount Price<span>*</span></mat-label>
                <mat-form-field class="w-full mb-1" appearance="outline">
                    <span matPrefix>₹</span>
                    <input matInput formControlName="productDiscountedPrice" type="text" textOnly>
                    <mat-error *ngIf="productFormGroup.controls['productDiscountedPrice'].hasError('required')">
                        This is required field
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-col gap-1">
                <mat-label>Actual Price<span>*</span></mat-label>
                <mat-form-field class="w-full mb-1" appearance="outline">
                    <span matPrefix>₹</span>
                    <input matInput formControlName="productActualPrice" type="text" textOnly>
                    <mat-error *ngIf="productFormGroup.controls['productActualPrice'].hasError('required')">
                        This is required field
                    </mat-error>
                </mat-form-field>
            </div>
        </div>


        <div class="text-[18px] font-semibold text-[#303030] my-4 col-span-2">
            Variants
        </div>

        <div formArrayName="variants" class="col-span-2">
            <div class="w-full grid grid-cols-4 gap-x-4" *ngFor="let variant of variants.controls; let i = index"
                [formGroupName]="i">
                <div class="flex flex-col gap-1">
                    <mat-label>Size<span>*</span></mat-label>
                    <mat-form-field class="w-full mb-1" appearance="outline">
                        <input matInput formControlName="size" type="text" textOnly>
                        <mat-error *ngIf="variant.get('size')?.hasError('required')">
                            This is required field
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="flex flex-col gap-1">
                    <mat-label>Color<span>*</span></mat-label>
                    <mat-form-field class="w-full mb-1" appearance="outline">
                        <input matInput formControlName="color" type="text" textOnly>
                        <mat-error *ngIf="variant.get('color')?.hasError('required')">
                            This is required field
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="flex flex-col gap-1">
                    <mat-label>Quantity<span>*</span></mat-label>
                    <mat-form-field class="w-full mb-1" appearance="outline">
                        <input matInput formControlName="quantity" type="text" textOnly>
                        <mat-error *ngIf="variant.get('quantity')?.hasError('required')">
                            This is required field
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="flex gap-3 items-center">
                    <a class="cursor-pointer" (click)="addVariant();" *ngIf="i === variants.length - 1">
                        <img class="w-7" src="./assets/images/add-square.svg" alt="">
                    </a>
                    <a class="cursor-pointer" (click)="removeVariant(i);" *ngIf="i < variants.length - 1">
                        <img class="w-7" src="./assets/images/delete-red.svg" alt="">
                    </a>
                </div>

            </div>

        </div>


        <div class="flex flex-col gap-2">
            <mat-label>Upload image</mat-label>
            <label for="upload_image"
                class="bg-[#F0F8FF] w-full h-[40px] rounded-md flex items-center justify-center cursor-pointer">Click
                here to upload</label>
            <input type="file" id="upload_image" hidden>

        </div>
    </div>
    <div class="">
        <div class="bg-white rounded-md shadow-md p-4 pb-0 mb-4">
            <div class="text-[18px] font-semibold text-[#303030] mb-4">
                Care instructions
            </div>
            <div class="" formGroupName="careInstruction">
                <div class="flex flex-col gap-1">
                    <mat-label>Washing</mat-label>
                    <mat-form-field class="w-full mb-1" appearance="outline">
                        <mat-select formControlName="washing">
                            <mat-option [value]="item" *ngFor="let item of washing_instructions">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gap-1">
                    <mat-label>Ironing</mat-label>
                    <mat-form-field class="w-full mb-1" appearance="outline">
                        <mat-select formControlName="ironing">
                            <mat-option [value]="item" *ngFor="let item of ironing_instructions">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gap-1">
                    <mat-label>Drying</mat-label>
                    <mat-form-field class="w-full mb-1" appearance="outline">
                        <mat-select formControlName="drying">
                            <mat-option [value]="item" *ngFor="let item of dry_cleaning">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gap-1">
                    <mat-label>Storage</mat-label>
                    <mat-form-field class="w-full mb-1" appearance="outline">
                        <mat-select formControlName="storage">
                            <mat-option [value]="item" *ngFor="let item of storage_instructions">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="bg-white rounded-md shadow-md p-4 pb-0">
            <div class="text-[18px] font-semibold text-[#303030] mb-4">
                Meta details
            </div>
            <div class="" formGroupName="metaData">
                <div class="flex flex-col gap-1">
                    <mat-label>Meta Title</mat-label>
                    <mat-form-field class="w-full mb-1" appearance="outline">
                        <input matInput formControlName="title" type="text" textOnly>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gap-1">
                    <mat-label>Meta Description</mat-label>
                    <mat-form-field class="w-full mb-1" appearance="outline">
                        <textarea matInput formControlName="description" type="text" textOnly></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-col gap-1">
                <mat-label>Meta tags</mat-label>
                <mat-form-field class="w-full mb-1" appearance="outline">
                    <mat-chip-grid #chipGrid2>
                        <mat-chip-row *ngFor="let item of seoKeywordList(); let i = index" (removed)="removeSeo(item)"
                            [editable]="true" [aria-description]="'Press enter to edit ' + item.keyWord">
                            {{ item.keyWord}}
                            <button matChipRemove [attr.aria-label]="'Remove ' + item.keyWord">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
    
                        <input [matChipInputFor]="chipGrid2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addSeo($event)" />
                    </mat-chip-grid>
                </mat-form-field>
            </div>

        </div>

    </div>


    <div class="col-span-2 flex justify-end">
        <button type="submit" class="text-white py-[6px] font-semibold px-10 bg-[#26355D] rounded">Create</button>
    </div>
</form>