<div class="px-4 lg:px-8 xl:px-12 pt-10">

    <div class="flex gap-4">
        <div class="rounded-md max-w-full w-[400px] flex flex-col items-center p-10 shadow-md">
            <img class="w-[200px]" src="./assets/images/default_user.png" alt="">
            <p>Hello, Ken Norman</p>
        </div>
        <div class="flex-1">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Account & Information </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> My Addresses</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>My Oders History </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Referral Rewards Program </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </div>
</div>