<div class="py-12 xl:py-16 px-4 lg:px-8 xl:px-12 m-auto w-full  max-w-[1000px]">
    <div class="text-[22px] text-[#333] text-center font-semibold mb-5 xl:mb-10">Terms and Conditions</div>

    <div class="terms">
        <ul>
            <li>This website, <a routerLink="" class="text-blue-700 hover:underline cursor-pointer">https://stylarkloth.com</a> (referred to as the “site” or “website”), is managed by.</li>
            <li>These Terms of Use constitute an electronic record under the Information Technology Act, 2000, as amended,
                and applicable rules. As such, it does not require physical or digital signatures.</li>
            <li>By accessing our site and/or purchasing from us, you engage with our “Service” and agree to abide by these
                Terms and Conditions (“Terms of Service,” “Terms”), which include additional policies referenced herein or
                linked. These terms apply to all site users, including but not limited to browsers, vendors, customers,
                merchants, and contributors of content.</li>
            <li>Please read these Terms of Service carefully before using the website. By accessing or using any part of the
                site, you agree to these Terms. If you disagree with any part, you may not use the website or its services.
            </li>
            <li>
                We may periodically update these Terms and Conditions, including policies or rules, and notify users of
                changes. Continued use of the website following updates implies acceptance of the revised terms.
            </li>
        </ul>
    </div>

    <div class="terms">
        <h2> ONLINE STORE TERMS</h2>
        <ul>
            <li>

                By agreeing to these Terms, you confirm that you are at least the age of majority in your jurisdiction
                or have obtained the consent of a guardian to allow your minor dependents to use the site.
            </li>
            <li>
                You agree not to use our products or services for illegal or unauthorized purposes or violate any
                applicable laws, including copyright laws, while using the site. Users must maintain the confidentiality
                of their account credentials and are solely responsible for all activities performed under their
                account. We are not liable for losses resulting from failure to secure account information.

            </li>
            <li>
                Any breach of the Terms will result in immediate termination of your access to our Services.

            </li>
        </ul>
    </div>
    <div class="terms">
        <h2>GENERAL CONDITIONS</h2>
        <ul>
            <li>We reserve the right to refuse service to anyone at any time for any reason.</li>
            <li>

                By using our services, you agree that non-credit card information may be transferred across networks and
                adapted to technical requirements during transmission. Credit card information is always encrypted
                during transfer.
            </li>
            <li>
                You are prohibited from reproducing, copying, selling, or exploiting any part of the Service without
                express written consent.
            </li>
        </ul>
    </div>

    <div class="terms">
        <h2>
            ACCURACY AND TIMELINESS OF INFORMATION
        </h2>
        <ul>
            <li>
                We do not guarantee that the information on this site is accurate, complete, or current. The content
                provided is for general informational purposes only and should not be solely relied upon for
                decision-making. Any reliance on site content is at your own risk.
            </li>
        </ul>
    </div>

    <div class="terms">
        <h2>
            CHANGES TO SERVICE AND PRICING
        </h2>
        <ul>
            <li>
                Product prices and service offerings are subject to change without notice. We may discontinue or modify
                any part of the Service at any time without liability.

            </li>
        </ul>
    </div>


    <div class="terms">
        <h2>
            PRODUCTS OR SERVICES
        </h2>
        <ul>
            <li>
                Certain products or services offered online may have limited availability and are subject to return or
                exchange as per our Return Policy. We strive to accurately display product colors and images but cannot
                guarantee that your monitor's display will reflect true colors.
                We reserve the right to limit product or service sales by customer, location, or jurisdiction, and to
                modify product descriptions, prices, and availability without prior notice.

            </li>
        </ul>
    </div>


    <div class="terms">
        <h2>
            BILLING AND ACCOUNT INFORMATION
        </h2>
        <ul>
            <li>
                We may limit or cancel orders at our discretion. In such cases, we will attempt to notify you via the
                contact details provided. Orders deemed suspicious or intended for reselling may be refused.

            </li>
        </ul>
    </div>


    <div class="terms">
        <h2>
            THIRD-PARTY TOOLS AND LINKS
        </h2>
        <ul>
            <li>
                We may provide access to third-party tools and services without endorsement or responsibility. Any use
                of such tools is at your discretion and subject to their respective terms. Third-party links on the site
                may direct you to external websites, which are not under our control. We are not responsible for
                third-party content, materials, or transactions.
            </li>
        </ul>
    </div>


    <div class="terms">
        <h2>
            USER SUBMISSIONS AND COMMENTS
        </h2>
        <ul>
            <li>
                By submitting comments, suggestions, or other content, you grant us permission to use, edit, and
                distribute such submissions without obligation. However, we reserve the right to remove inappropriate
                content and are not liable for user-generated content.
            </li>
        </ul>
    </div>

    <div class="terms">
        <h2>
            PERSONAL INFORMATION
        </h2>
        <ul>
            <li>
                Your personal information submitted through the website is governed by our Privacy Policy, accessible
                <a routerLink="/info/privacy-policies" class="text-blue-700 hover:underline cursor-pointer">here</a>.
            </li>
        </ul>
    </div>



    <div class="terms">
        <h2>
            PROHIBITED ACTIVITIES
        </h2>
        <ul>
            <li>
                You must not use the site to engage in activities such as data scraping, spamming, phishing, or
                violating security features. Violations may result in the termination of access.
            </li>
        </ul>
    </div>


    <div class="terms">
        <h2>
            DISCLAIMER AND LIMITATION OF LIABILITY
        </h2>
        <ul>
            <li>
                We provide services “as-is” without any warranties. We are not responsible for losses, damages, or
                issues resulting from the use of the site or products.

            </li>
        </ul>
    </div>


    <div class="terms">
        <h2>
            INDEMNIFICATION
        </h2>
        <ul>
            <li>
                You agree to indemnify and hold us harmless against claims arising from your breach of these Terms or
                violation of any rights or laws.
            </li>
        </ul>
    </div>


    <div class="terms">
        <h2>
            TERMINATION
        </h2>
        <ul>
            <li>
                These Terms remain in effect until terminated by either party. You may terminate the agreement by
                ceasing use of our services. We may terminate your access for non-compliance or suspected violations.
            </li>
        </ul>
    </div>


    <div class="terms">
        <h2>
            FORCE MAJEURE
        </h2>
        <ul>
            <li>
                We are not liable for delays or failure in service due to unforeseen events beyond our control,
                including but not limited to natural disasters, network failures, or cyberattacks.
            </li>
        </ul>
    </div>


    <div class="terms">
        <h2>
            GOVERNING LAW
        </h2>

        <ul>
            <li>
                These Terms are governed by the laws of India. Any disputes shall fall under the exclusive jurisdiction
                of the courts in Bengaluru.
            </li>
        </ul>
    </div>



    <div class="terms contacts">
        <h2>
            CONTACT INFORMATION
        </h2>
        <ul>
            <li>
                For questions, contact us at:
            </li>
            <li>
                Email: contact@stylarkloth.com
            </li>
            <li>
                Phone: +91 8800961236
            </li>
            <li>
                For grievances, please reach out to:
            </li>
            <li>
                Grievance Officer: Amit kumar
            </li>
            <li>
                Email: contact@stylarkloth.com
            </li>
        </ul>
    </div>
</div>