/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: regular;
    src: url(./assets/fonts/Montserrat-Regular.ttf);
}


*{
    font-family: regular;
}

//scrollbar
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(38, 53, 93,0.4); 
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(38, 53, 93,0.6); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(38, 53, 93,0.8); 
  }