/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: regular;
    src: url(./assets/fonts/Montserrat-Regular.ttf);
}


*{
    font-family: regular;
}