/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: regular;
    src: url(./assets/fonts/Montserrat-Regular.ttf);
}


*{
    font-family: regular;
}

:host ::ng-deep *{
  font-family: regular;
}

//scrollbar
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(38, 53, 93,0.4); 
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(38, 53, 93,0.6); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(38, 53, 93,0.8); 
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


 // mat form
 .mat-mdc-form-field-infix{
  padding-top: 10px !important;
  padding-bottom: 11px !important;
  min-height: 45px;
  font-size: 14px !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__trailing {
  border-color: #26355D !important;
}

.mat-mdc-form-field-hint-wrapper, 
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
  font-size: 10px;
  line-height: 1.1;
  margin-top: -4px !important;
}

form label{
  font-size: 14px;
  margin-bottom: 4px;
}

.headerMatmenu .mat-mdc-menu-item-text{
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  min-width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
}