<div class="bg-[#26355D] text-white">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Sale</a></li>
        <li><a href="">New arrival</a></li>
        <li><a href="">Category</a></li>
        <li><a href="">Category</a></li>
        <li><a href="">Category</a></li>
        <li><a href="">Category</a></li>
        <li><a href="">Category</a></li>
        <li><a href="">Category</a></li>
        <li><a href="">Category</a></li>
        <li><a href="">Category</a></li>
        <li><a href="">Category</a></li>
        <li><a href="">Category</a></li>
        <li><a href="">Category</a></li>
        <li><a href="">Wishlist</a></li>
        <li><a href="">Logout</a></li>
    </ul>
</div>