<div class="relative h-[40vh] min-h-[300px] bg-[url(./assets/images/banner/contact-us-banner.jpg)] bg-cover bg-center flex justify-center items-center">
    <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-black/60"></div>
    <span class="relative z-10 font-bold text-[40px] text-white">Contact Us</span>
</div>

<div class="px-4 lg:px-8 xl:px-12 my-10 grid grid-cols-3 gap-6">
    <div class="bg-[#F0F8FF] rounded-md py-4 px-6 flex items-center justify-center flex-col gap-4">
        <img class="w-8" src="./assets/images/phone-contact.svg" alt="">
        <p class="font-semibold">Phone</p>
       <p class="text-center text-sm text-[#333]">We are just a call away from our customers. All lines are open 24x7</p>
       <a href="tel:+918800961236" class="text-[#26355D] font-semibold text-base">+91 8800961236</a>
    </div>
    <div class="bg-[#F0F8FF] rounded-md py-4 px-6 flex items-center justify-center flex-col gap-4">
        <img class="w-8" src="./assets/images/mail-contact.svg" alt="">
        <p class="font-semibold">E-mail</p>
       <p class="text-center text-sm text-[#333]">You can write us directly to our email for quicker response</p>
       <a href="mailto:ontact@stylarkloth.com" class="text-[#26355D] font-semibold text-base">contact@stylarkloth.com</a>
    </div>
    <div class="bg-[#F0F8FF] rounded-md py-4 px-6 flex items-center justify-center flex-col gap-4">
        <img class="w-8" src="./assets/images/address-contact.svg" alt="">
        <p class="font-semibold">Address</p>
       <p class="text-center text-sm text-[#333]">Greater Noida, GB Nagar, UP</p>
       <a href="tel:+918800961236" class="text-[#26355D] font-semibold text-base">view on google map</a>
    </div>
</div>


<div class="px-4 lg:px-8 xl:px-12 mt-16">
    <div class="font-bold text-[20px] text-[#333] w-full mb-2">Get in Touch with Us</div>
    <div class="text-[#666] w-full max-w-[900px]">
        Have questions or need assistance? Reach out to us! Our team is here to help with inquiries, feedback, or support. Fill out the contact form, email us, or call our customer service line. We aim to respond promptly and ensure your experience with us is seamless and satisfying.
    </div>
    <div class="mt-16 grid grid-cols-2">
        <form (ngSubmit)="submitQuery()" [formGroup]="contactFormGroup" class="w-full mt-4">
            <div>
                <mat-label>Name</mat-label>
                <mat-form-field class="w-full mb-1" appearance="outline">
                    <input matInput formControlName="name" type="text" textOnly appearance="outline">
                    <mat-error *ngIf="contactFormGroup.controls['name'].hasError('required')">
                        This is required field
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-label>E-mail</mat-label>
                <mat-form-field class="w-full mb-1"  appearance="outline">
                    <input matInput formControlName="email" type="text" textOnly appearance="outline">
                    <mat-error *ngIf="contactFormGroup.controls['email'].hasError('required')">
                        This is required field
                    </mat-error>
                    <mat-error *ngIf="contactFormGroup.controls['email'].hasError('email')">
                        Enter valid email
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-label>Phone</mat-label>
                <mat-form-field class="w-full mb-1"  appearance="outline">
                    <span matPrefix>+91</span>
                    <input matInput formControlName="phone" type="text" textOnly appearance="outline">
                    <mat-error *ngIf="contactFormGroup.controls['phone'].hasError('required')">
                        This is required field
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-label>Description</mat-label>
                <mat-form-field class="w-full mb-1"  appearance="outline">
                    <textarea  matInput formControlName="desc" type="text" textOnly appearance="outline"></textarea>
                    <mat-error *ngIf="contactFormGroup.controls['desc'].hasError('required')">
                        This is required field
                    </mat-error>
                </mat-form-field>
            </div>
            <button type="submit" class="text-white py-[11px] font-semibold w-full bg-[#26355D] rounded">Submit</button>
        </form>
        <div class="flex items-center justify-center">
            <img class="w-[70%]" src="./assets/images/contact-us.png" alt="">
        </div>
    </div>
</div>

