<div mat-dialog-content>
    <div class="text-[#26355D] text-center text-[22px]">Stylar<span class="font-semibold text-[#26355D]">Kloth</span>
    </div>
    <div class="text-[20px] font-semibold text-center text-[#333] mt-4">Login</div>
    <div class="text-base text-[#666] text-center mt-2">Welcome back! Login to access the sweet marketplace</div>
    <form (ngSubmit)="login()" [formGroup]="loginFormGroup" class="w-full mt-4">
        <div class="flex flex-col">
            <mat-label class="mb-1">Enter Email/Phone</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <img src="./assets/images/mail.svg" matTextPrefix class="w-5" alt="">
                <input matInput formControlName="email" type="text" textOnly>
                <mat-error *ngIf="loginFormGroup.controls['email'].hasError('required')">
                    This is required field
                </mat-error>
                <mat-error *ngIf="loginFormGroup.controls['email'].hasError('email')">
                    Enter valid email
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex flex-col">
            <mat-label>Enter OTP</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <img src="./assets/images/password-lock.svg" matTextPrefix class="w-5" alt="">
                <input matInput formControlName="password" type="text" textOnly>
                <mat-error *ngIf="loginFormGroup.controls['email'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <button type="submit" class="text-white py-[11px] font-semibold w-full bg-[#26355D] rounded">Login</button>
    </form>
    <div class="mt-4 flex flex-col gap-2">
        <p class="text-sm text-[#666]">Dont have an account? <a class="cursor-pointer text-[#26355D] hover:underline">Register now</a></p>
    </div>
</div>