<div mat-dialog-title class="flex justify-between items-center task-header pt-5 pb-5 md:pt-10 px-4 md:px-10">
    <p class="text-[#0c2a63] text-base font-semibold">{{heading}}</p>
    <a (click)="closePopup('close')" class="cursor-pointer">
        <mat-icon>close</mat-icon>
    </a>
</div>


<div mat-dialog-content class="">
    <form [formGroup]="categoryFormGroup" class="w-full mt-4">
        <div>
            <mat-label>Name</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <input matInput formControlName="parentCategoryName" type="text" textOnly appearance="outline">
                <mat-error *ngIf="categoryFormGroup.controls['parentCategoryName'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-label>Description</mat-label>
            <mat-form-field class="w-full mb-1" appearance="outline">
                <textarea  matInput formControlName="parentCategoryDescription" type="text" textOnly appearance="outline"></textarea>
                <mat-error *ngIf="categoryFormGroup.controls['parentCategoryDescription'].hasError('required')">
                    This is required field
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button class="rounded px-6 leading-none py-2 bg-[#e8e8e8] text-sm" (click)="closePopup('close')">Cancel</button>
    <button class="rounded px-6 leading-none py-2 text-white bg-[#0c2a63] text-sm" (click)="createCategory()">Update</button>
</div>


