.header-links{
    a{
        position: relative;
        span{
            position: absolute;
            width:0;
            height: 2px;
            border-radius: 10px;
            background: #26355D;
            left: 0;
            bottom: 0;
            transition: .3s;
        }
        &:hover span{
            width: 100%;
        }
    }
}

.mat-mdc-menu-item{
    min-height: 40px !important;
    font-size: 14px !important;
    font-family: regular !important;
}