<div class="bg-[#26355D] py-2 px-4 flex items-center justify-between">
    <p class="text-white text-xs leading-none">Welcome to the online store</p>
    <div class="flex items-center gap-4">   
        <a class="text-white text-xs cursor-pointer mx-4 leading-none hover:font-semibold">Login or Register</a>
        <a class="cursor-pointer">
            <img class="w-5" src="./assets/images/instagram.svg" alt="">
        </a>
        <a class="cursor-pointer">
            <img class="w-5" src="./assets/images/whatsapp.svg" alt="">
        </a>
    </div>
</div>
<div class="flex justify-between items-center px-4 lg:px-8 xl:px-12 py-4">
    <a class="cursor-pointer" routerLink="">Stylar<span class="font-semibold text-[#26355D]">Kloth</span></a>
    <div class="flex items-center gap-10 header-links">
        <a routerLink="">Home
            <span></span>
        </a>
        <a href="">Shop
            <span></span>
        </a>
        <a href="">New Arrivals
            <span></span>
        </a>
        <a href="">Contact us
            <span></span>
        </a>
    </div>
    <div class="flex items-center gap-5">
        <a class="cursor-pointer">
            <img class="w-5" src="./assets/images/search.svg" alt="">
        </a>
        <a class="cursor-pointer">
            <img class="w-5" src="./assets/images/heart.svg" alt="">
        </a>
        <a class="cursor-pointer">
            <img class="w-5" src="./assets/images/cart.svg" alt="">
        </a>
    </div>
</div>
