<div class="bg-[#26355D] py-2 px-4 flex items-center justify-between">
    <p class="text-white text-xs leading-none">Welcome to the online store</p>
    <div class="bg-white rounded-md py-[6px] px-4 flex w-[400px] gap-2">
        <input type="text" placeholder="search for products/category" class="text-sm outline-none flex-1">
        <a routerLink="/search-results" class="cursor-pointer">
            <img class="w-5" src="./assets/images/search.svg" alt="">
        </a>
    </div>
    <div class="flex items-center gap-4">
        <a class="text-white text-xs cursor-pointer mx-4 leading-none hover:font-semibold" (click)="loginPopup()">Login
            or Register</a>
        <a class="cursor-pointer" target="_blank" href="https://www.instagram.com/stylarKloth/">
            <img class="w-5" src="./assets/images/instagram.svg" alt="">
        </a>
        <a class="cursor-pointer"
            href="https://api.whatsapp.com/send?text=Check%20out%20this%20amazing%20deal%20at%20[Your%20Website%20URL]!"
            target="_blank">
            <img class="w-5" src="./assets/images/whatsapp.svg" alt="">
        </a>
    </div>
</div>
<div class="flex justify-between items-center px-4 lg:px-8 xl:px-12 py-4 border-b border-[#d7d7d7]">
    <a class="cursor-pointer text-lg" routerLink="">Stylar<span class="font-semibold text-[#26355D]">Kloth</span></a>
    <div class="flex items-center gap-10 header-links">
        <a routerLink="">Home
            <span></span>
        </a>
        <a class="cursor-pointer" routerLink="/products">Shop
            <span></span>
        </a>
        <a class="cursor-pointer flex items-center gap-[2px]" routerLink="/new-arrival">
            New Arrivals
            <span></span>
        </a>
        <a class="cursor-pointer" routerLink="">Blogs
            <span></span>
        </a>
    </div>
    <div class="flex items-center gap-5">
        <a class="cursor-pointer" routerLink="/wishlist">
            <img class="w-5" src="./assets/images/heart.svg" alt="">
        </a>
        <a class="cursor-pointer" routerLink="/cart">
            <img class="w-5" src="./assets/images/cart.svg" alt="">
        </a>
        <a class="cursor-pointer" [matMenuTriggerFor]="Menu">
            <img class="w-5" src="./assets/images/user.svg" alt="">
        </a>
    </div>
</div>

<mat-menu #Menu="matMenu" class="headerMatmenu">
    <button mat-menu-item routerLink="/user-profile">
        <img class="w-5 opacity-70" src="./assets/images/user-menu.svg" alt="">
        Profile
    </button>
    <button mat-menu-item routerLink="/order-history">
        <img class="w-5 opacity-70" src="./assets/images/order-history.svg" alt="">
        Order history
    </button>
    <button mat-menu-item routerLink="/wishlist">
        <img class="w-5 opacity-70" src="./assets/images/wishlist-menu.svg" alt="">
        Wishlist
    </button>
    <button mat-menu-item routerLink="/dashboard">
        <img class="w-5 opacity-70" src="./assets/images/admin.svg" alt="">
        Admin
    </button>
    <button mat-menu-item>
        <img class="w-5 opacity-70" src="./assets/images/logout.svg" alt="">
        Logout
    </button>
</mat-menu>
