<div class="border-r border-[#d7d7d7] py-2 pr-2 h-full w-[280px] overflow-y-auto flex flex-col gap-1">
    <a [routerLinkActive]="'is-active'" routerLink="/dashboard"
        class="cursor-pointer rounded-e-full flex items-center gap-2 p-3 hover:bg-[rgba(38,53,93,0.2)] text-[#26355d]">
        <img class="w-7" src="./assets/images/sidebar/dashboard.svg" alt="">
        <img class="w-7 hidden" src="./assets/images/sidebar/dashboard-active.svg" alt="">
        Dashboard
    </a>

    <a [routerLinkActive]="'is-active'" routerLink="/product-management"
        class="cursor-pointer rounded-e-full flex items-center gap-2 p-3 hover:bg-[rgba(38,53,93,0.2)] text-[#26355d]">
        <img class="w-7" src="./assets/images/sidebar/product-admin-active.svg" alt="">
        <img class="w-7 hidden" src="./assets/images/sidebar/product-admin.svg" alt="">
        Products
    </a>

    <a [routerLinkActive]="'is-active'" routerLink="/category-management"
        class="cursor-pointer rounded-e-full flex items-center gap-2 p-3 hover:bg-[rgba(38,53,93,0.2)] text-[#26355d]">
        <img class="w-7" src="./assets/images/sidebar/category-active.svg" alt="">
        <img class="w-7 hidden" src="./assets/images/sidebar/category.svg" alt="">
        Category
    </a>

    <a [routerLinkActive]="'is-active'" routerLink="/order-management"
        class="cursor-pointer rounded-e-full flex items-center gap-2 p-3 hover:bg-[rgba(38,53,93,0.2)] text-[#26355d]">
        <img class="w-7" src="./assets/images/sidebar/order-admin.svg" alt="">
        <img class="w-7 hidden" src="./assets/images/sidebar/order-admin-active.svg" alt="">
        Order
    </a>

    <a [routerLinkActive]="'is-active'" routerLink="/customer-management"
        class="cursor-pointer rounded-e-full flex items-center gap-2 p-3 hover:bg-[rgba(38,53,93,0.2)] text-[#26355d]">
        <img class="w-7" src="./assets/images/sidebar/customer-management.svg" alt="">
        <img class="w-7 hidden" src="./assets/images/sidebar/customer-management-active.svg" alt="">
        Customer
    </a>
    <a [routerLinkActive]="'is-active'" routerLink="/coupon-management"
        class="cursor-pointer rounded-e-full flex items-center gap-2 p-3 hover:bg-[rgba(38,53,93,0.2)] text-[#26355d]">
        <img class="w-7" src="./assets/images/sidebar/coupon.svg" alt="">
        <img class="w-7 hidden" src="./assets/images/sidebar/coupon-active.svg" alt="">
        Coupon
    </a>
    <a [routerLinkActive]="'is-active'"
        class="cursor-pointer rounded-e-full flex items-center gap-2 p-3 hover:bg-[rgba(38,53,93,0.2)] text-[#26355d]">
        <img class="w-7" src="./assets/images/sidebar/coupon.svg" alt="">
        <img class="w-7 hidden" src="./assets/images/sidebar/coupon-active.svg" alt="">
        Content Management
    </a>
    <a [routerLinkActive]="'is-active'"
        class="cursor-pointer rounded-e-full flex items-center gap-2 p-3 hover:bg-[rgba(38,53,93,0.2)] text-[#26355d]">
        <img class="w-7" src="./assets/images/sidebar/coupon.svg" alt="">
        <img class="w-7 hidden" src="./assets/images/sidebar/coupon-active.svg" alt="">
        Staff Management
    </a>
    <a [routerLinkActive]="'is-active'"
        class="cursor-pointer rounded-e-full flex items-center gap-2 p-3 hover:bg-[rgba(38,53,93,0.2)] text-[#26355d]">
        <img class="w-7" src="./assets/images/sidebar/coupon.svg" alt="">
        <img class="w-7 hidden" src="./assets/images/sidebar/coupon-active.svg" alt="">
        Expenses
    </a>





</div>