<div mat-dialog-title class="flex justify-between items-center task-header pt-5 pb-5 md:pt-10 px-4 md:px-10">
    <p class="text-[#0c2a63] text-base font-semibold">Update Product Varients</p>
    <a (click)="closePopup('close')" class="cursor-pointer">
        <mat-icon>close</mat-icon>
    </a>
</div>

<div mat-dialog-content class="">
    <form [formGroup]="productFormGroup" class="w-full">
        <div formArrayName="variants">
            <div class="w-full grid grid-cols-7 gap-x-5" *ngFor="let variant of variants.controls; let i = index"
                [formGroupName]="i">
                <div class="flex flex-col gap-1 col-span-2">
                    <mat-label>Size<span>*</span></mat-label>
                    <mat-form-field class="w-full mb-1" appearance="outline">
                        <input matInput formControlName="size" type="text" textOnly>
                        <mat-error *ngIf="variant.get('size')?.hasError('required')">
                            This is required field
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="flex flex-col gap-1 col-span-2">
                    <mat-label>Color<span>*</span></mat-label>
                    <mat-form-field class="w-full mb-1" appearance="outline">
                        <input matInput formControlName="color" type="text" textOnly>
                        <mat-error *ngIf="variant.get('color')?.hasError('required')">
                            This is required field
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="flex flex-col gap-1 col-span-2">
                    <mat-label>Quantity<span>*</span></mat-label>
                    <mat-form-field class="w-full mb-1" appearance="outline">
                        <input matInput formControlName="quantity" type="text" textOnly>
                        <mat-error *ngIf="variant.get('quantity')?.hasError('required')">
                            This is required field
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="flex gap-3 items-center">
                    <a class="cursor-pointer" (click)="addVariant();" *ngIf="i === variants.length - 1">
                        <img class="w-7" src="./assets/images/add-square.svg" alt="">
                    </a>
                    <a class="cursor-pointer" (click)="removeVariant(i);" *ngIf="i < variants.length - 1">
                        <img class="w-7" src="./assets/images/delete-red.svg" alt="">
                    </a>
                </div>

            </div>

        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button class="rounded px-6 leading-none py-2 bg-[#e8e8e8] text-sm" (click)="closePopup('close')">Cancel</button>
    <button class="rounded px-6 leading-none py-2 text-white bg-[#0c2a63] text-sm" (click)="updateVariants()">Update</button>
</div>